.Cover {

}

nav {
    border-bottom: 1px solid #e1e8ed;
}

.profileNav {
    display: block;

    li {
	display: inline-block;
	a {
	    display: block;
	    padding: 14px 15px 7px;
	    transition: all .15s ease-in-out;
	    box-sizing: border-box;
	    height: 4rem;
	    cursor: pointer;

	    &:hover {
		border-bottom-width: 4px;
		text-decoration: none;
	    }
	    
	    .label {
		font-size: 11px;
		display: block;
		color: #66757f;
		text-transform: uppercase;
	    }
	    .value {
		color: #66757f;
		font-size: 18px;
		font-weight: 600;
	    }
	}
    }
}

.editProfile {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .0);
    cursor: pointer;
    padding: .3rem;

    &:hover {
	    border: 1px solid rgba(0, 0, 0, .5);
	    border-radius: .2rem;
	    background-color: rgba(255,255,255,0.25);
	    background-image: linear-gradient(rgba(255,255,255,0),rgba(0,132,180,0.1));
    }
}

.cancelEdit {
    background-image: linear-gradient(#fff,#f5f8fa);
    background-repeat: no-repeat;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    color: #66757f;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    padding: 8px 16px;
    position: relative;
}

.saveEdit {
       color: #fff;
    background-color: #1da1f2;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
    border: 1px solid #3b88c3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    padding: 8px 16px;
    position: relative;
    border-radius: 4px;
    background-repeat: no-repeat;
}
.isEditing {
    display: block
}

.editButtons {
    display: inline-block;
}

