.preview {
    height: 4rem;
    width: 4rem;
}

.previewImg {
    height: 4rem;
    width: 4rem;
    border: 1px solid #aaa;
    border-radius: .2rem;
}

.previewClose {
    position: absolute;
    span {
	position: absolute;
	top: 3px;
	left: 50px;
    }
}