.MenuTrigger {
    width: 2.25rem;
    img {
	width: 100%;
	border-radius: .2rem;
    }
}

.MenuOptions {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #FFF;
    position: absolute;
}

.MenuOption {
    span {
	white-space: nowrap;
    }
    small {
	white-space: nowrap;
    }
}