.thumbnailContainer {
    margin-top: 0;
    padding: .75rem;
    margin-left: 3rem;
    background-color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #f1f1f1;
    box-shadow: inset 0 1px 0 #ccd6dd;;
    margin-left: 3rem;
    padding: .75rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}